* {
	font-family: Garamond, "Courier New", Arial;
}

body {
	background-color: #B3B1B1;
}

header {
	text-align: right;
	background: #4069E0;
	width: 100%;
	border: 0.125em solid;
	}

header > h1 {
	padding-right: 1em;
}

nav {
	background-color: grey;
	text-align: center;
	padding: 1em;
	font-size: 1.25em;
	border-top: 0.125em solid;
}

h3 {
	display: inline; /* Set inline to display with text in AboutMe */
}

img, figure {  /* set the image in Education */
	margin:0px;
	width: 100%;
	height: auto;
}

footer {
	background-color: #9D3E2A;
	color: white;
	text-align: center;
	width:100%;
	border: 0.125em solid;
}

.Content {
	display:flex;
	width: 100%;
	background-color:white;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	justify-content: center;
	border: 0.125em solid;
	flex-wrap: wrap;
}

.galley {
	padding: 2%;
	margin: 1%;
	border: 0.125em dotted;
	max-width: 14em;
}

.ContentTitle {
	flex-basis:100%;
	text-align:center;
	width:100%;
}

.ContentBody { /* Content in AboutMe */
	margin-bottom: 0.75em;
	padding-right: 1em;
	padding-left: 1em;
	width: 100%;	
}



/* Below are CSS for the Link to look like button */
a:link, a:visited {
	background-color: white;
	color: black;
	border: 0.125em solid green;
	padding: 0.625em 1.25em;
	margin-left: 0.938em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: blue;
	color: white;
}

/* VV  All below are CSS link to ID  VV */

#hobby1 { /* for the hobby img in AboutMe */
	width: auto;
	height: 10em;
}

#IntroText {  /* content text in index */
	font-size: 1.2em;
}

#galley1, #galley2, #galley3, #galley4 {  /* default value for the galley width */
	flex-basis: 25%;
}

/*  VV  All below are responsive CSS  VV */
/* Mobile */
@media screen and (max-width:540px) {
	#galley1, #galley2, #galley3, #galley4 {
		flex-basis: 100%;
		max-width: 18em;
	}
	header {
		text-align: center;
	}
	header > h1 {
	padding-right: 0em;
	}
	a:link{ /* change the link to column */
		width: 100%;
		padding: 0em;
		margin-left: 0em;
	}
}

/* Tablet */
@media screen and (min-width:541px) and (max-width:800px) {
	#galley1, #galley2, #galley3, #galley4 {
		flex-basis: 50%;
		max-width: 18em;
	}
}

/* Desktop */
@media screen and (min-width:801px) {
	#galley1, #galley2, #galley3, #galley4 {
		flex-basis: 25%;
		max-width: 17em;
	}
}