* {
	font-family: Garamond, "Courier New", Arial;
}
hr {border-color: black;}

header {
	overflow: hidden;
	background-color: rgb(167, 75, 99);
	text-align:right;
	padding-right: 2em;
	}
	
/* The navigation bar */
nav {
	font-size: 1em;
	text-align:right;
    overflow: hidden;
    background-color: rgb(167, 75, 99);
    position: sticky; /* Set the navbar to sticky so that it scroll together */
    top: 0%; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
nav li {
    display: inline;
    color: #f2f2f2;
	border: none;
    text-align: center;
    padding: 1em 1.2em;
	border-right: 0.625em;
    text-decoration: underline;
}

/* Change background on mouse-over */
nav li:hover {
    background: #ddd;
}
#icon:hover {
		background: #ddd;
	}

/* make the button clear. Only display the text */
Button {
	text-decoration-line: underline;
	font-weight: bold;
	font-size: 1em;
	background-color: transparent;
	border: none;
}

body {
	background-color: #B3B1B1;
	overflow-x: hidden;
}

/* Alternate color */
.containerTop {
	background-color: #94818c;
	overflow: hidden;
	color: white;
	padding-left: 2em;
}

.containerBottom {
	background-color: #7ecced;
	overflow: hidden;
	text-align: right;
	padding-right: 2em;
}

/* Contain iframe to make it more responsive */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
	text-align:center;
	background-color: rgb(167, 75, 99);
}

/* Slideshow container */
.slideshow-container {
  max-width: 25em;
  position: relative;
  margin: auto;
  padding-top: 1em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375em;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  transition: 0.6s ease;
  border-radius: 0 0.1875em 0.1875em 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875em 0 0 0.1875em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #e8cd1e;
  font-size: 0.9375em;
  padding: 0.5em 0.75em;
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.9375em;
  width: 0.9375em;
  margin: 0 0.125em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#section2 {
	flex-wrap: wrap;
	flex-direction: row;
}

/* section 2 section*/
#urban, #freestyle, #aggressive, #figure{ display: flex; flex-wrap: wrap; flex-direction: row; flex-basis: 100%; justify-content: center;}

/* title */
#urban h3, #section2 h2, #freestyle h3, #aggressive h3, #figure h3{ flex-basis: 100%; text-align:center;}

#freestyle div {flex-basis: 40%;}

/* content */
#urban p, #freestyle p, #aggressive p, #figure p{
	border-style: solid;
	font-size:1.4em;
	flex-basis: 40%;
}

#urban iframe, #figure iframe{
	margin:0.3125em;
	flex-basis:30%;
	width: auto;
	height: 100%;
}

#freestyle img, #aggressive img{
	object-fit: cover;
	margin:0.3125em;
	width: 30%;
	height: auto;
}

/* Under section 3 */
#section3 {
	text-align: center;
}

#skateImg, #qrCode {
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: auto;
}

.components {
	background-color: #555;
	color: #fff;
	float: right;
	width: 31.25em;
	word-wrap: break-word;
	margin-right: 10%;
}

/* show pointer when mouse over the selectable area in the image */
area {
	cursor: pointer;
}


/* For menu nav */
#icon{display:none;}


#menuList.menuShow{ /* for using add/remove class on menulist */
	display: block;
	padding: 0.3em 1em;
}

/* Tablet responsive CSS */
@media only screen and (max-width: 800px) {
	header {text-align: center; padding-right: 0%; text-decoration: underline;}
	nav ul li{display:block; margin-top:0.5em;} /*make a menu items vertical*/
	#icon{display: block; font-size: 1.1em; overflow: hidden; text-align: center; padding:0.5em; width: 100%} /* unhide menu icon */
	nav ul{display:none;} /*hide the menu item list*/
}